@font-face {
	font-family: "Noto Chess";
	src: local("noto-chess"),
		url("../../assets/fonts/noto-chess.woff2") format("woff2"),
		url("../../assets/fonts/noto-chess.woff") format("woff");
}

@font-face {
	font-family: "Noto Sans";
	src: local("noto-sans"),
		url("../../assets/fonts/noto-sans.woff2") format("woff2"),
		url("../../assets/fonts/noto-sans.woff") format("woff");
}

.parent-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 90vh;
}

.board-container {
	width: 75%;
	height: calc(100vh - 4rem);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.chat-container {
	width: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.chat-card {
	width: 300px;
}
