.parent-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.board-container {
	width: 75%;
	height: calc(100vh - 4rem);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.chat-container {
	width: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.chat-card {
	width: 300px;
}
