nav {
	display: flex;
	align-items: center;
}

nav a {
	text-decoration: none;
}

nav .icon {
	transform: scale(2);
}

.nav-container {
	width: 100%;
}

.user-button:hover {
	background-color: rgb(248, 249, 250);
}

.mantine-Burger-root {
	margin: 0;
}
